@font-face{
    font-family: "Lato";
    src: url("assets/fonts/lato/Lato-Regular.ttf");
}

@font-face{
    font-family: "Maven Pro";
    src: url("assets/fonts/maven-pro/MavenPro-Regular.ttf");
}

*{
    margin:0;
    padding:0;
    font-family: "Lato";
    box-sizing: border-box;
    color: white;
}

h1{
    visibility: hidden;
}

header{
    height: 63px;
    background: #323232;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__hex_1{
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: -28px;
    width: 100px;
    height: 120px;
    transform: rotate(120deg);
    overflow: hidden;
    z-index: 2;
}

.header__hex_1-color{
    background: #323232;
}

.block{
    left: 50%;
    margin-left: -70px;
    top: 65px;
    position: absolute;
    width: 140px;
    height: 20px;
    background-color: white;
    z-index: 1;
}

.nav__list{
    max-width: 300px;
    margin: 0 55px;
    list-style: none;
    display: flex;
    justify-content: center;
    font-size: 10px;
}

.nav__list__left{
    justify-content: flex-end;
}
.nav__list__right{
    justify-content: flex-start;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.nav__item{
    margin: 0 15px;
}

.nav__link{
    text-decoration: none;
    color: white;
}

.nav__link:hover{
    color:#2eaa91;
}

.nav__link:active{
    filter: brightness(90%);
}

.center-triangle{
    position: absolute;
    left: 50%;
    width: 56px;
    height: 55px;
    margin: 2px 0 0 -28px;
    background-image: url("assets/images/Logo.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 2;
}

.hexal-field{
    height: 641px;    
}

.hexal-row{
    display: flex;
    justify-content: center;
}

.hexal-row_1{
    margin-top: 80px;
}

.hexal-row_2{
    margin: -60px 0;
}

.hex-1{
    background-image: url("assets/images/Layer_33.png");
}

.hex-2{
    background-image: url("assets/images/Layer_31.png");
}

.hex-3{
    background-image: url("assets/images/Layer_34.png");
}

.hex-4{
    background-color: #49220b;
    background-image: url("assets/images/Layer_35.png");
}

.hex-5{
    background-image: url("assets/images/Layer_36.png");
}

.hex-6{
    background-image: url("assets/images/Layer_44.png");
}

.hex-7{
    background-image: url("assets/images/Layer_37.png");
}

.hex-8{
    background-image: url("assets/images/Layer_38.png");
}

.hex-9{
    background-image: url("assets/images/Layer_39.png");
}

.hex-10{
    background-image: url("assets/images/Layer_40.png");
}

.hex-11{
    background-image: url("assets/images/Layer_41.png");
}

.hex-12{
    background-image: url("assets/images/Layer_43.png");
}

.hex-13{
    background-image: url("assets/images/Layer_42.png");
}

.speech{
    height: 341px;
    background: #2eb398;
    display: flex;
    justify-content: center;
    padding: 12px;
}

.speech__image{
    display: block;
}

.speech__wrapper{
    width: 822px;
    border-left: 1px solid #219d84;
    border-right: 1px solid #219d84;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.speech__article{ 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.speech__description{
    width: 580px;
    height: 206px;
    display: flex;
    flex-direction: column;
}

.speech__description__name{
    font-family: "Maven Pro";
    margin: -8px 0 0 -2px;
    font-size: 30px;
    font-weight:400;
}

.speech__description__title{
    color: #20816d;
    font-family: "Maven Pro";
    margin-top: -1px;
    font-size: 18px;
    font-weight: 400;
}

.speech__description__paragraph{
    text-align: justify;
    letter-spacing: 0.9;
    font-size: 12px;
    font-weight: 300;
    line-height: 21px;
    margin-top: 13px;
}

.social-nets{
    align-self: flex-end;
    display: inline-block;
    margin-top: 30px;
}

.fab{
    font-size: 30px;
    letter-spacing: -4px;
    color:#e0e0e0;
    transition: 0.5s;
}

.fab:hover{
    transform: scale(1.2);
    transition: 0.3s;
}

.fab:active{
    filter: brightness(90%);
}

footer{
    position: relative;
    height: 607px;
    background: #323232;
    color:#e0e0e0;
    padding-top: 12px;
}

.footer__vertical-lines{
    width: 960px;
    height: 540px;
    margin: 0 auto;
    border-top: 1px solid #2b2b2b;
    border-bottom: 1px solid #2b2b2b;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__wrapper{
    width: 780px;
    margin: 0 auto;
    display: flex;

}

fieldset{
    border: none;
}

.footer__form{
    width: 580px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer__form__legend{
    color: #e0e0e0;
    font-family: "Maven Pro";
    font-size: 30px;
 
}

.footer__form__paragraph{
    color: #bebebe;
    font-family: "Maven Pro";
    font-size: 18px;
}

.footer__form input, .footer__form textarea{
    display: block;
    min-height: 38px;
    width: 580px;
    background-color:#454545;
    color:white;
    border: none;
    margin: 16px auto;
    padding-left: 10px;
}

.footer__form__message{
    padding: 10px;
}
.footer__form__submit{
    width: 90px;
    height: 37px;
    background-color: #2eb398;
    border: none;
    text-transform: uppercase;
    align-self: flex-end;
}

.footer__form__submit:hover{
    filter:brightness(110%);
}

.footer__form__submit:active{
    filter:brightness(90%);
}

.footer__contacts{
    font-size: 12px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 65px;

}

.footer__contacts__text{
    display: inline-block;
    text-align: justify;
    line-height: 21.56px;
}

.footer__contacts__data{
    margin-top: 40px;
}

.footer__contacts__data .phone{
    display: inline-block;
    margin: 9px auto;
}

.footer__contacts__data a{
    text-decoration: none;
    transition: 0.5s;
}

.footer__contacts__data a:hover{
    word-spacing: 2px;
    transition: 0.5s;
}

.footer__contacts__data a:active{
    filter: brightness(70%);
}


.fas{
    color:#2eb398;
}

.copyright{
    position: absolute;
    width: 1020px;
    height: 43px;
    left: 50%;
    margin-left: -510px;
    bottom: 0%;
    background-color: #222222;

}

.copyright__p{
    padding-left: 39px;
    display: inline-block;
    color: #454545;
    font-size: 12px;
    line-height: 43px;
    letter-spacing: -0.2px;
}

.hex{
    width: 180px;
    height: 208px;
    transform: rotate(120deg);
    overflow: hidden;
    margin: 10px;
    transition: 0.5s;
}

.h-1{
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
    overflow: hidden;
}

.h-2{
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
    background-repeat: no-repeat;
    background-size: contain;
}

.hex:hover{
    transform: scale(1.18) rotate(120deg);
    transition: 0.5s;
    cursor: pointer;
}

