*{
    margin:0;
    padding:0;
    font-family: "Lato";
}

@font-face{
    font-family: "Lato";
    src: url("/fonts/lato/Lato-Regular.ttf");
}

@font-face{
    font-family: "Maven Pro Regular";
    src: url("/fonts/maven-pro/MavenPro-Regular.ttf");
}

.wrapper{
    width: 820px;
    margin: 0 auto;
    border-left: 1px solid red;
    border-right: 1px solid red;
}

header{
    height: 63px;
    background: #323232;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__hex{
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: -28px;
    width: 100px;
    height: 120px;
    transform: rotate(120deg);
    overflow: hidden;
    z-index: -1;
}

.header__hex__color{
    background: #323232;
}

.nav__list{
    max-width: 300px;
    list-style: none;
    display: flex;
    justify-content: center;
    font-size: 10px;
}

.nav__list__left{
    justify-content: flex-end;
}
.nav__list__right{
    justify-content: flex-start;
}


.nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.nav__item{
    margin: 0 15px;
}

.nav__link{
    text-decoration: none;
    color: white;
}

.center-triangle{
    width: 64px;
    height: 55px;
    margin: 0 25px;
    background-image: url("/images/Logo.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.hexal-field{
    height: 721px;
}

.speech{
    height: 341px;
    background: #2eb398;
}

footer{
    height: 607px;
    background: #323232;
}

.hex{
    width: 180px;
    height: 208px;
    transform: rotate(120deg);
    overflow: hidden;
}

.h-1{
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
    overflow: hidden;
}

.h-2{
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
}






.cent{
    height: 20px;
    width: 100%;
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.line{
    width: 2px;
    height: 100%;
    background: green;
}